.w1400 {
    width: 1440px;
    margin: 0 auto;
}

.Main_img {
    background-image: url(./img/main_img.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    width: 100%;
    height: 120vh;
    padding-top: 116px;
}

.Main_center {
    padding-top: 58px;
    margin: 0 auto;
    width: 100%;

}

.Main_view {
    background: url(./img/main_view.png) no-repeat center;
    background-size: cover;
    padding-top: 29px;
    width: 100%;
    height: 30vw;
}

.Main_center>h5 {
    color: #E9E9E9;
    font-size: 18px;
    font-weight: 400;
}

.Main_center>h2 {
    color: #E9E9E9;
    font-size: 66px;
    font-weight: 700;
    padding-top: 8px;
}

.Main_info {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 66px;
}

.Main_info_left {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.Main_info_time>p {
    color: #D9D9D9;
    font-size: 1.3vw;
    font-weight: 400;
    padding-top: 15px;
}

.Main_info_time_flex {
    display: flex;
    justify-content:flex-start;
    width: 100%;
    align-items: center;
}

.Main_info_time_img {
    background-image: url(./img/time.png);
    width: 27px;
    height: 27px;
    vertical-align: middle;
}

.Main_info_time_flex>p {
    color: #D9D9D9;
    font-size:  1.7vw;;
    font-weight: 700;
    vertical-align: middle;
    padding-left: 1vw;
}

.Main_info_money>p {
    color: #D9D9D9;
    font-size:  1.3vw;
    font-weight: 400;
    padding-top: 15px;
}

.Main_info_money_flex {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

.Main_info_money_img {
    background-image: url(./img/money.png);
    background-size: cover;
    width: 27px;
    height: 27px;
    vertical-align: middle;
}

.Main_info_money_flex>p {
    color: #D9D9D9;
    font-size:  1.7vw;
    font-weight: 700;
    vertical-align: middle;
    padding-left: 1vw;
}


.Main_info_close>p {
    color: #D9D9D9;
    font-size:  1.3vw;
    font-weight: 400;
    padding-top: 15px;
}

.Main_info_close_impact {
    color: #929292;
    font-size:  1.1vw;
    font-weight: 400;
}

.Main_info_close_flex {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

.Main_info_close_img {
    background-image: url(./img/time.png);
    width: 27px;
    height: 27px;
    vertical-align: middle;
}

.Main_info_close_flex>p {
    color: #D9D9D9;
    font-size:  1.7vw;
    font-weight: 700;
    vertical-align: middle;
}

.Main_info_right {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.Main_info_right>div:nth-child(1)>a {
    border-radius: 10px;
    background: #000;
    width: 8vw;
    height: 5vw;
    color: #FFF;
    font-size: 1.2vw;
    font-weight: 400;
    text-align: center;
    display: flex;          
    align-items: center;    
    justify-content: center;
}

.Main_info_right>div:nth-child(2)>a {
    border-radius: 10px;
    background: #fff;
    width: 8vw;
    height: 5vw;
    color: #000;
    font-size: 1.2vw;
    font-weight: 400;
    text-align: center;
    display: flex;          
    align-items: center;     
    justify-content: center;
}

.Main_reservation {
    width: 100%;
    margin: 0 auto;
    padding-top: 18vw;
    background-color: #000;
    padding-bottom: 3vw;
}

.Main_reservation_flex {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.Main_reservation_left{
    width: 45%;
}
.Main_h2{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3vw ;
}
.Main_h2>h2 {
    color: #E9E9E9;
    font-size: 42px;
    font-weight: 700;
}

.Main_reservation_left_info {
    display: flex;
    justify-content:flex-start;
    width: 100%;
    padding-top: 60px;
}

.Main_reservation_left_info>p:nth-child(1) {
    color: #FFF;
    font-size: 0.9vw;
    font-weight: 400;
    width: 73px;
    height: 31px;
    border-radius: 7px;
    background: #929292;
    text-align: center;
    line-height: 30px;
}

.Main_reservation_left_info>p:nth-child(2) {
    color: #E9E9E9;
    font-size: 1.5vw;
    font-weight: 700;
    padding-left: 1vw;
}

.Main_reservation_left_method {
    width: 100%;
    display: flex;
    justify-content:flex-start;
    padding-top: 10px;
}

.Main_reservation_left_method>p:nth-child(1) {
    color: #D9D9D9;
    font-size: 0.9vw;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    width: 73px;
    height: 31px;
    border-radius: 7px;
    border: 1px solid #E9E9E9;
    background: rgba(252, 252, 252, 0.00);
}

.Main_reservation_left_method>p:nth-child(2) {
    color: #E9E9E9;
    font-size: 1.5vw;
    font-weight: 700;
    padding-left: 1vw;
}

.Main_reservation_left_method>p:nth-child(2)>span {
    color: #929292;
    font-size: 1.1vw;
    font-weight: 400;
}

.back_color {
    background-color: #232323;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);
    width: 35%;
}

.reservation_right_calendar {
    text-align: center;
    width: 100%;
}
.reservation_right_calendar>thead{
    width: 100%;
    height: 10vw;
}
.reservation_right_calendar_font {
    color: #fff;
    font-size: 1.1rem;
}

.reservation_right_calender_top {
    padding-top: 500px;
}

.reservation_right_calendar_day {
    color: #fff;
    font-size: 1.1rem;
}

.reservation_right_calendar_day>td {
    padding: 10px 0;

}

.reservation_right_calendar_day>td:nth-child(1) {
    color: #FC8787;

}

.reservation_right_calendar_day>td:nth-child(7) {
    color: #5CA7ED;
}





.reservation_right_calendar>thead>tr:first-child>td {
    font-size: 1.1em;
    font-weight: bold;
}

.reservation_right_calendar>thead>tr:last-child>td {
    font-weight: 600;
}

.reservation_right_calendar_today {
    font-size: 1.1rem;
    color: #fff;
    
}
.reservation_right_calendar_today > tr > td {
    padding: 0; 
    width: 3rem;
    height: 3rem;
    text-align: center;
    vertical-align: middle;
}

.reservation_right_calendar_check>a {
    margin: 0 auto;
    color: #fff;
    background-color: #929292;
    border-radius: 10px;
    width: 30%;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    display: block;
    font-size: 1.3vw;
    line-height: 25px;
}



.past-day {
    background-color: #000;
    /* 지난 날짜의 배경색을 회색으로 변경 */
    position: relative;
    border-radius: 20%;
    width: 62px;
    height: 62px;
}

.today {
    background-color: #C9A454;
    /* 오늘 날짜의 배경색을 변경하세요 */
    position: relative;
    border-radius: 20%;
    width: 62px;
    height: 62px;
}

.Main_event {

    width: 100%;
    margin: 0 auto;
    background-color: #000;
    padding-top: 18vw;
}


.Main_event_margin {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.Main_event_margin>article {
    width: 50%;
}
.event_h2{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3vw;
}
.event_h2>h2 {
    color: #E9E9E9;
    font-size: 38px;
    font-weight: 700;
}

.Main_event_left_slide {
    width: 100%;
}

.Main_event_left_slide>h4 {
    color: #fff;
}

.Main_event_left_slide>p {
    color: #fff;
}

.Main_event_left_box {
    display: flex;
    width: 188px;
    justify-content: space-between;
}

.Main_event_left_box>div:nth-child(1) {
    color: #000;
    font-size: 1vw;
    font-weight: 700;
    width: 90px;
    height: 33px;
    border-radius: 7px;
    background: #FFF;
    text-align: center;
    line-height: 30px;

}

.Main_event_left_box>div:nth-child(2) {
    color: #FFF;
    font-size: 1vw;
    font-weight: 700;
    width: 90px;
    height: 33px;
    border-radius: 7px;
    border: 1px solid #FFF;
    background: #000;
    text-align: center;
    line-height: 30px;
}
.Main_event_right{
    width: 100%;
}

.Main_event_right_img_position {
    position: relative;
    width: 100%;
    height: 100%;
}
.event-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 50px;
    object-fit: cover;
}
.wi_sm{
    width: 100%;
    height: 400px;
}
.event-image.active {
    opacity: 1;

}

.Main_event_left_button {
    position: relative;
    padding-top: 115px;
    left: 0;
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 279px;
}

.Main_event_left_button>button {
    background-color: #000;
    border: none;
    color: #929292;
    font-size: 15px;
    font-weight: 700;
}

.Main_call {
    background-image: url(./img/call.png);
    background-size: cover;
}

.Main_call>article {
    width: 80%;
    margin: 0 auto;
    padding-top: 104px;
}

.Main_call>article>h2 {
    color: #E9E9E9;
    font-size: 38px;
    font-weight: 700;
}

.Main_call>article>p:nth-child(2) {
    padding-top: 86px;
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
}

.Main_call>article>p:nth-child(3) {
    padding-top: 15px;
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
}

.Main_call>article>div {
    padding-top: 67px;
    padding-bottom: 222px;
}

.Main_call>article>div>a {
    color: #6C6F6B;
    font-size: 0.9vw;
    font-weight: 400;
    display: block;
    border-radius: 9px;
    background: #E9E9E9;
    width: 10vw;
    height: 38px;
    text-align: center;
    line-height: 38px;
}

.Main_gallery {
    background-color: #000;
    width: 100%;
    padding-bottom: 150px;
}

.Main_gallery_photo>h2 {
    color: #E9E9E9;
    font-size: 38px;
    font-weight: 700;
    padding-bottom: 3vw;
}

.Main_gallery_photo {
    width: 80%;
    margin: 0 auto;
    padding-top: 104px;
}


.Main_gallery_photo>ul {
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    align-items: center;
    gap: 20px;
    padding-top: 86px;
}

.gallery-row {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}
.gal_flex{
    display: flex;
    justify-content: space-between;
}
.gallery-row li {
    list-style: none;
}
.gal_flex>button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #888;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
}

.Main_map {
    width: 100%;
    background-image: url(./img/mapback.png);
    background-size: cover;
    padding-bottom: 137px;

}


.Main_map_margin {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 104px;
}

.Main_map_left{
    width: 45%;
    height: 445px;
}
.Main_map_kakao {
    border-radius: 20px;
    width: 80%;
}

.Main_map_left>h2 {
    color: #E9E9E9;
    font-size: 38px;
    font-weight: 700;
    padding-bottom: 3vw;
}
.Main_map_right{
    width: 45%;
}
.Main_map_right>h2 {
    color: #E9E9E9;
    font-size: 38px;
    font-weight: 700;
    padding-bottom: 3vw;
}

.Main_map_right_info {
    width: 100%;
    height: 445px;
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
}
.Main_map_right_info>ul{
    width: 100%;
}
.Main_map_right_info>ul>li{
    width: 100%;
}
.Main_map_right_info>ul>li {
    height: 109px;
    display: flex;           /* 플렉스 레이아웃 사용 */
    align-items: center;  
}


.Main_map_right_info>ul>li>a {
    font-size: 1vw;
    font-weight: 700;
    padding-left: 23px;
    color: #fff;
}

.Main_map_right_info>ul>li:nth-child(1),
.Main_map_right_info>ul>li:nth-child(2),
.Main_map_right_info>ul>li:nth-child(3){
    border-bottom: 1px dashed #929292;
}



.Main_map_right_info>ul>li:nth-child(5)>a {
    margin-left: auto;
}

.Main_map_right_info_span1 {
    color: #fff;
    padding: 7px 17px;
    border-radius: 7px;
    background: #000;
    color: #FFF;
    font-size: 1vw;
    font-weight: 700;
}

.Main_map_right_info_span2 {
   margin-left: auto;
    color: #929292;
    font-size: 1vw;
    font-weight: 700;
}

@media (max-width : 1440px) {
    .w1400 {
        width: 80%;
    }

    .Main_view {
        background-image: url(./img/bg1.png);
        background-size: cover;
    }

    .Main_reservation_flex {
        width: 80%;
    }


    .Main_event_margin{
        width: 80%;
    }
   

    .Main_event_right{
        width: 100%;
    }
    .Main_call>article{
        width: 80%;
    }
    .Main_gallery_photo{
        width: 80%;
    }
    .Main_gallery_photo>ul {
        width: 90%;
        padding-top: 50px;
      }
      .back_color{
        width: 40%;
      }

}






@media (max-width : 1024px) {
    .Main_img {
        height: 100vh;
    }
    .Main_view {
        margin-top: 15vw;
        background-image: url(./img/bg2.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .back_color{
        width: 50%;
      }
      .wi_sm{
        height: 300px;
      }
      .Main_info {
        padding-top: 15vw;
    }
    .Main_map_right_info>ul{
        width: 100%;
    }
      .Main_map_right_info>ul>li{
        width: 100%;
      }
}






@media (max-width : 768px) {
    .Main_info{
        flex-direction: column;
    }
    .Main_info_left{
        width: 100%;
    }
    .Main_info_right>div:nth-child(1)>a,
    .Main_info_right>div:nth-child(2)>a{
        font-size: 1.7vw;
    }
    .Main_info_time_flex,
    .Main_info_money_flex,
    .Main_info_close_flex
    {
        width: 100%;
        justify-content: flex-start;
    }
    .Main_info_time>p,
    .Main_info_money>p,
    .Main_info_close>p
    {
      font-size: 1.5vw;
    }
    .Main_info_time_flex>p,
    .Main_info_money_flex>p,
    .Main_info_close_flex>p{
        padding-left: 0.5vw;
        font-size: 1.7vw;
    }
    .Main_info_right{
        width: 100%;
        padding-top: 3vw;
    }
    .Main_info_right>div{
        width: 45%;
    }
    .Main_info_right>div:nth-child(1)>a,
    .Main_info_right>div:nth-child(2)>a {
        width: 100%;
        color: #fff;
        background-color: #000;
        border: 1px solid #fff;
    }
    .Main_reservation_flex{
        flex-direction: column-reverse;
    }
    .Main_reservation_left{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 5vw;
    }
    .Main_reservation_left_info>p:nth-child(1),
    .Main_reservation_left_method>p:nth-child(1) {
        font-size: 1.5vw;
    }
    
    .Main_reservation_left_info>p:nth-child(2),
    .Main_reservation_left_method>p:nth-child(2) {
        font-size: 1.7vw;
    }
    .Main_reservation_left_info,
    .Main_reservation_left_method{
        padding: 0;
    }
    .Main_reservation_left_method{
        justify-content: flex-end;
    }
    .back_color{
        width: 80%;
        margin: 0 auto;
    }
    .Main_event_margin{
        flex-direction: column-reverse;
    }
    .Main_event_margin>article{
        width: 100%;
    }
    .Main_event_right{
        width: 90%;
        height: 350px;
        margin: 0 auto;
    }
    .Main_event_left{
        width: 100%;
        margin: 0 auto;
    }
    .Main_event_left_box{
        width: 100%;
    }
    .Main_event_left_box>div:nth-child(1),
    .Main_event_left_box>div:nth-child(2){
        width: 45%;
        font-size: 1.5vw;
    }
    .Main_event_left_button{
        padding-top: 10vw;
    }
   
    .Main_map_margin{
        flex-direction: column;
        padding-bottom: 8vw;
    }
    .Main_map_margin>article{
        width: 100%;
    }
    .Main_map_left{
        width: 90%;
        height: 350px;
    }
    .Main_map_kakao{
        margin: 0 auto;
    }
    .Main_map_right{
        padding-top: 30vw;
        width: 80%;
    }
    .Main_map_right_info{
        height: 40vw;
    }
    .Main_map_right_info>ul>li {
        height: 10vw;
    }

    .Main_map_right_info>ul>li>a ,
    .Main_map_right_info_span1,
    .Main_map_right_info_span2{
        font-size: 1.5vw;
    }
    .Main_call>article>div>a{
        font-size: 1.3vw;
    }

}


@media (max-width : 580px){
    .Main_img {
        height: 80vh;
    }
    .Main_center>h2{
        font-size: 10vw;
    }
    .back_color{
        height: 300px;
    }
    .reservation_right_calendar{
        height:100px;
    }
    .reservation_right_calendar_day{
        font-size: 3vw;
    }
    .reservation_right_calendar td{
        padding :0;
    }
    .reservation_right_calendar_today{
        font-size: 3vw;
    }
    .reservation_right_calendar_today>tr>td{
        width: 2vw;
        height: 2vw;
        padding: 4px;
        text-align: center;
    }
    .Main_info_right>div:nth-child(1)>a,
    .Main_info_right>div:nth-child(2)>a{
        font-size: 2vw;
    }
    .Main_info_time>p,
    .Main_info_money>p,
    .Main_info_close>p
    {
      font-size: 2vw;
    }
    .Main_info_time_flex>p,
    .Main_info_money_flex>p,
    .Main_info_close_flex>p{
        font-size: 2.2vw;
    }
    .Main_info_close_impact{
        font-size: 1.7vw;
    }
    .Main_h2>h2{
        font-size: 5vw;
    }
    .Main_reservation_left{
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
    .Main_reservation_left_info,
    .Main_reservation_left_method{
        width: 100%;
        justify-content: flex-start;
    }
    .Main_reservation_left_method{
        padding-top: 1vw;
    }
    .Main_reservation_left_info>p:nth-child(1),
    .Main_reservation_left_method>p:nth-child(1) {
        font-size: 1.7vw;
        display: flex;          
        align-items: center;   
        justify-content: center;
    }
    
    .Main_reservation_left_info>p:nth-child(2),
    .Main_reservation_left_method>p:nth-child(2) {
        font-size: 1.5vw;
        display: flex;          
        align-items: center;   
        justify-content: center;
    }
    .Main_reservation_left_info>p:nth-child(2)>br{
        display: inline-block;
        content: " ";
        padding: 0 2px;
     }
     .reservation_right_calendar_check>a{
        font-size: 1.7vw;
     }
     .event_h2>h2{
        font-size: 5vw;
     }
     .Main_event_left_box>div:nth-child(1),
     .Main_event_left_box>div:nth-child(2){
        font-size: 2vw;
     }
     .Main_event_left_button{
        width: 100%;
     }
     .Main_call>article>h2{
        font-size: 5vw;
     }
     .Main_call>article>p:nth-child(2),
     .Main_call>article>p:nth-child(3){
        font-size: 4vw;
     }
     .Main_call>article>div>a{
        width: 15vw;
        font-size: 1.7vw;
     }
     .Main_gallery_photo>h2{
        font-size: 5vw;
     }
     .Main_map_left>h2{
        font-size: 5vw;
     }
     .Main_map_right>h2{
        font-size: 5vw;
     }
     .Main_map_right>h2{
        font-size: 5vw;
     }
     .Main_map_right_info>ul>li>a ,
     .Main_map_right_info_span1,
     .Main_map_right_info_span2{
         font-size: 1.7vw;
     }

}


